@breakpoint-sm: 37.5em;  // Small devices (600px)
@breakpoint-md: 48em;    // Medium devices (768px)
@breakpoint-lg: 62em;    // Large devices (992px)
@breakpoint-xl: 75em;    // Extra-large devices (1200px)

// ---- Max content width
@content-width: 1244px;
@content-width-narrow: 1140px;
// ---- Base grid gap. This determines most content and column spacing
@gap: 20px;

@white-color: #fff;
@black-color: #000;

@aspect-ratio-desktop: 16 / 7;
@aspect-ratio-tablet: 1 / 1;
@aspect-ratio-mobile:9 / 16;
